@{
    ViewData["Title"] = "Hizmetlerimiz";
}

<h1>Hizmetlerimiz</h1>
<ul>
    <li>Genel Temizlik</li>
    <li>Zemin Temizliği</li>
    <li>Ev Temizliği</li>
    <li>Ofis Temizliği</li>
    <li>Okul ve Sınıf Temizliği</li>
    <li>İnşaat Sonrası Temizlik</li>
    <!-- Diğer hizmetler buraya eklenecek -->
</ul>
